<h2>Product list</h2>
<ul>
    <li *ngFor="let product of products; let i=index" (click)="selectedProduct = product">
        {{i+1}} . {{product.name | uppercase}} <br>
        <span>{{ product.price | customCurrency: 'Zł' }}</span>
    </li>
</ul>
<!-- <app-product-detail [name]="selectedProduct" (bought)="onBuy($event)"></app-product-detail> -->
<!-- <app-product-detail name="selectedProduct"></app-product-detail> -->
<app-product-detail
#product
[product]="selectedProduct"
(bought)="onBuy()"
></app-product-detail>
<br><hr><br>
<span appCopyright *ngIf="!selectedProduct"></span><br><br>
<span>{{ today | date: 'fullDate'}}</span><br>
