<h2>Product list</h2>
<ul>
    <li *ngFor="let product of products; let i=index" (click)="selectedProduct = product">
        <!-- <app-product-view [id]="i"></app-product-view> -->
        <span>{{product.name}}</span>
        <span>{{ product.price }}</span>
    </li>
</ul>
<!-- <app-product-detail [name]="selectedProduct" (bought)="onBuy($event)"></app-product-detail> -->
<!-- <app-product-detail name="selectedProduct"></app-product-detail> -->
<app-product-detail
*ngIf="selectedProduct"
[id]="selectedProduct.id"
(bought)="onBuy()"
></app-product-detail>
<br><hr><br>
<span appCopyright *ngIf="!selectedProduct"></span><br><br>
<span>{{ today | date: 'fullDate'}}</span><br>
<!-- <h2>Ulubione</h2>
<app-favorites></app-favorites>
<div>
<app-product-create (added)="onAdd($event)"></app-product-create>
</div> -->