<!-- <div *ngIf="name; else loading">
    <h2>Product details</h2>
    <h3>{{ productName }}</h3>
    <button (click)="buy()">Dodaj do zamówienia</button>
</div>
<ng-template #loading>
    Nie wybrano produktu...
</ng-template> -->

<div *ngIf="product$ | async as product">
    <h2>Product details</h2>
    <h3>{{ product.name }}</h3>
    <input placeholder="nowa cena" #price/>
    <button (click)="changePrice(product, price.valueAsNumber)">ZMIEŃ</button>
    <div [ngSwitch]="product.name">
        <p *ngSwitchCase="'Yeti'">
            Mikrofon
        </p>
        <p *ngSwitchCase="'Logi'">
            Mysz
        </p>
        <p *ngSwitchCase="'Asus'">
            Monitor
        </p>
        <p *ngSwitchDefault>
            Jest to produkt do niewiadomo czego...
        </p>
    </div>
    <button (click)="buy()">Dodaj do zamówienia</button>
</div>
